<app-header></app-header>

<main class="main-content py-5 bg-light">
  <div class="container">
    <!-- Hero / Intro Section -->
    <section id="hero" class="section mb-5">
      <app-hero></app-hero>
    </section>

    <!-- About Section -->
    <section id="about" class="section mb-5">
      <app-about></app-about>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="section mb-5">
      <app-skills></app-skills>
    </section>

    <!-- Experience Section -->
    <section id="experience" class="section mb-5">
      <app-experience></app-experience>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="section mb-5">
      <app-projects></app-projects>
    </section>

    <!-- Contact Section -->
    <!-- <section id="contact" class="section mb-5">
      <app-contact></app-contact>
    </section> -->

    <section id="ats-score" class="section mb-5">
      <app-ats-check></app-ats-check>
    </section>

  </div>
</main>

<app-footer></app-footer>
